<!DOCTYPE html>
<body lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Blank</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "sb-admin-2.min" %>
</head>

</body>
<h1 class="h3 mb-4 text-gray-800">Celulares</h1>
<div class="card mb-4 py-3 border-left-primary" id="lomasnuevo">
  <h3>&nbsp Lo más nuevo</h3>
  <div class="row card-body">
    <% @productos.each do |producto|  %>
    <div class="col col-lg-3 col-md-6 col-sm-12" align="center"><a href="info/Nuevo1.html" target="_self">
      <img src="<%= producto.imagen %>" width="100" height="150" ALIGN=center HSPACE=10 VSPACE=10>
    </a>
      <hr>
      <%=producto.marca %><br>
      <%=producto.linea %> <br> $ <%= producto.precio %><br>
      <hr><a href="" target="_self">MAS INFORMACIÓN</A><br>
      </img>
    </div>
      <%end %>



  </div>
</div>




</body>

</html>
